@tailwind base;
@tailwind components;
@tailwind utilities;

/**************************************************\
-------------------- INTER FONT --------------------
\**************************************************/

@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), url(./fonts/inter/Inter-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Black'), url(./fonts/inter/Inter-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Bold'), url(./fonts/inter/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter ExtraBold'), url(./fonts/inter/Inter-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter ExtraLight'), url(./fonts/inter/Inter-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Light'), url(./fonts/inter/Inter-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), url(./fonts/inter/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter SemiBold'), url(./fonts/inter/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Thin'), url(./fonts/inter/Inter-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: 'Inter';
  scroll-behavior: smooth;
}

/**************************************************\
\**************************************************/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(248 250 252);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.17em
}

h5 {
  font-size: .83em
}

h6 {
  font-size: .75em
}

@layer components {

  .screen-size {
    height: 100vh;
    width: 100vw;
    height: calc(100dvh) !important;
    width: calc(100dvw) !important;
  }

  .screen-width {
    width: 100vw;
    width: calc(100dvw) !important;
  }
  
  .screen-height {
    height: 100vh;
    height: calc(100dvh) !important;
  }

  .min-screen-height {
    min-height: 100vh;
    min-height: calc(100dvh) !important;
  }

  .screen-fixed {
    @apply fixed top-0 bottom-0 left-0 right-0;
  }

  .n-container {
    @apply sm:container max-sm:w-full
  }
}